<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                </p>
            </div>
        </div>
    </div>
    <div class="row">

        <div id="articles">
            Articles Div

            {{!-- <ul>
                {{#each articleshbs  model as}}
                
                <li>
                    <h2>{{this.title}}</h2>
                    <h2>ddd</h2>
                </li>
                    <h2>{{this._id}}</h2>
                    <h2>{{this.link}}</h2>
                
                
                {{/each}}
            </ul> --}}

            <ul>
                {{#each articleshbs}}
                <li>
                    <p>{{title}}</p>
                    <p>Link: {{link}}</p>
                </li>
                {{else}}
                <h1>No Articles Scraped yet!</h1>
                {{/each}}
            </ul>

        </div>
    </div>
    <div class="row">
        <button id="scrapeButton">Get new articles</button>
    </div>
</div>